@import '~bootstrap/scss/bootstrap';
@import './theme.scss';

//body style
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  text-align: center;
}

.btn {
  background: $orange;
  box-shadow: 5px solid $grey;
  color: $white;
  font-size: 1em;
  border-radius: 5%;
}

.card-stack {
  display: none;
}

img {
  align-self: center;
  width: 300px;
  height: 350px;
}


//Nav bar style
.navbar {
  background-color: $orange;
  color: $white;
  font-size: 1em;

  a:hover {
    background-color: $orange;
    color: $black !important;
  }
  .navbar-brand {
    font-size: 2em;
  }
  #menu {
    display: none;
  }
}

.dropdown-menu {
  background-color: $orange;
  color: $white;
}

.dropdown-item {
  background-color: $orange;
  color: $white;
}


// Modal style
.modal-content {
  h5 {
    font-size: 1em;
   }
 }

.modal-body {
  align-items: center;
  display: flex;
  justify-content: center;
}

// sign in/ sign up style

.card {
  .card-header {
    font-size: 1.3em;
  }
  align-self: center;
  width: 30%;
  border-radius: 10%;
}

.card-body {
  p {
    padding: 5px;
  }
}

#sign-in {
  button {
    margin: 5px;
    padding: 5px 10px 5px 10px;
}
}

.sign-up-btn {
  text-decoration: underline !important;
  cursor: pointer;
}

input {
  margin: 5px;
  width: 85%;
}

.sign-up {
  display: none;
}

//Flashcard style
.flashcard-container {
  width: 60%;
  perspective: 800px;
  display: flex;
  align-self: center;

}

.flashcard {
  border: 3px solid $grey;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 0 15px $black;
  height: 300px;
  transform-style: preserve-3d;
  transition: all .5s linear;
  margin: 30px auto;
  width: 80%;
  display: flex;
  align-self: center;
}

.flashcard-face {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  margin: 5px;
}

.flashcard .back {
  transform: rotateX(180deg);
}

.flashcard.flip {
  transform: rotateX(180deg);
}

.front {
  text-align: center;
  padding: 20px 10px 0px 10px;
  margin-top: 10%;

  .word {
    font-size: 2em;
    text-transform: capitalize;
  }
}

.back {
  padding: 0px 10px 20px 10px;
  margin-top: 20%;

  .definition {
    padding-bottom: 10px;
    font-size: 1.5em;
  }

  textarea {
    width: 80%;
    height: 40px;
  }
}

.to-stack, .remove-stack {
  align-self: center;
  display: none;
  justify-content: center;
  margin: 30px;
  text-align: center;
  width: 25%;
}

.glyphicon-arrow-right {
  display: none;
  font-size: 3em;
}

.sentence {
  align-items: center;
  color: $orange;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.glyphicon-pencil {
  align-self: flex-start;
  font-size: 1em;
  padding-left: 3px;
  padding-top: 10px;
}

.my-sentence {
  padding: 5px;
}

// log in button
.login-buttons {
  display: flex;
  flex-direction: column;
  padding: 20px;

  .btn {
    align-self: center;
    margin: 20px;
    padding: 10px;
    width: auto;
  }
}

// mobile responsive
@media only screen and (max-width: 600px) {
    img {
      display: none;
    }
    .card {
      width: 90%;
    }
}

@media only screen and (min-width:600px) and (max-width: 800px) {
    .card {
      width: 40%;
    }
}
