@import '~bootstrap/scss/bootstrap';
@import './theme.scss';

//body style
.content {
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: center;
}

.btn {
  font-size: 1em;
}

.card-stack {
  display: none;
}

img {
  align-self: center;
  width: 300px;
  height: 350px;
}


//Nav bar style
.navbar {
  background-color: $orange;
  color: $white;
  font-size: 1em;

  a:hover {
    background-color: $orange;
    color: $black !important;
  }
  .navbar-brand {
    font-size: 2em;
  }
  #menu {
    display: none;
  }
}

.dropdown-menu {
  background-color: $orange;
  color: $white;
}

.dropdown-item {
  background-color: $orange;
  color: $white;
}


// Modal style
.modal-content {

  h5 {
    font-size: 1em;
  }
}

.modal-header {
  display: block;
  text-align: center;
}

.modal-body {
  align-self: center;
}

.modal-dialog {
  display: flex;
  margin: auto;
  width: auto;
}

fieldset {
  align-items: center;
  border: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  input {
    margin: 5px;
  }
  button {
    align-self: center;
    display: flex;
    margin: 5px;
  }
}

.sign-in-message {
  color: red;
  padding: 5px;
}

.sign-up-message {
  color: red;
  padding: 5px;
}

//Flashcard style
.flashcard {
  display: none;
  border: 3px solid $grey;
  border-radius: 20px;
  box-shadow: 0 0 15px $black;
  flex-direction: column;
  margin: 30px auto;
  width: 60%;
  height: 300px;

  .glyphicon-repeat {
    font-size: 2em;
    padding: 10px;
}

  h3 {
    font-size: 2em;
    text-transform: capitalize;
    margin-bottom: 30px;
  }

  h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .front {
    margin-bottom: 30px;
    margin-top: 70px;
  }


  .back {
    display: none;
    margin-bottom: 30px;
    margin-top: 70px;

    textarea {
      font-size: 1em;
      font-style: italic;
      height: 40px;
      text-align: center;
      width: 60%;
      margin-top: 10px;
    }
  }
}

.to-stack, .remove-stack {
  align-self: center;
  display: none;
  justify-content: center;
  margin: 30px;
  text-align: center;
  width: 25%;
}

.glyphicon-arrow-right {
  display: none;
  font-size: 3em;
}

.sentence {
  align-items: center;
  color: $orange;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.glyphicon-pencil {
  align-self: flex-start;
  font-size: 1em;
  padding-left: 3px;
  padding-top: 10px;
}

.my-sentence {
  padding: 5px;
}

// log in button
.login-buttons {
  display: flex;
  flex-direction: column;
  padding: 20px;

  .btn {
    align-self: center;
    margin: 20px;
    padding: 10px;
    width: auto;
  }
}


@media screen and (max-width: 950px) {
  .flashcard {
    width: 80%;

    .back {

      textarea {
        font-size: .8em;
        height: 80px;
      }
    }

    h4 {
      font-size: 1em;
      margin-top: 10px;
    }

    h3 {
      font-size: 1.5em;
    }

    .glyphicon-repeat {
      margin: auto;
    }
  }

}

@media screen and (max-width: 600px) {
  img {
    height: 50%;
    width: 50%;
  }
  .flashcard {
    height: 300px;
    width: 90%;

    h4 {
      font-size: 1em;
      margin-top: 0;
    }

    h3 {
      font-size: 1.5em;
    }


    .glyphicon-repeat {
      margin-top: 20px;
    }

    textarea {
      font-size: .8em;
      height: 80px;
    }
  }

  .to-stack {
    margin-top: 20px;
  }
  .remove-stack {
    margin-top: 20px;
  }

  .btn {
    width: 45%;
  }

  .content {
    height: 100vh;
    width: 100vw;
  }
}
