@import '~bootstrap/scss/bootstrap';
/* style.css */
* {
   font-size: 16px;
   line-height: 2;
}

$blue: #748386;
$black: #444;
$grey: #aaa;
$white: #fff;
$red: #6a3937;
$border-color: #aaa;
$orange: #dd9000;


$fontsize: 2em;
$btnfontsize: 18px;
