@import '~bootstrap/scss/bootstrap';
/* style.css */
* {
   font-size: 16px;
   line-height: 2;
}

$black: #444;
$grey: #aaa;
$white: #fff;
$red: #B29E42;
$border-color: #aaa;
$blue: #4256b2;


$fontsize: 2em;
$btnfontsize: 18px;
